/* assets/styles.css */
body {
    background-color: #3D4487;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hr-footer {
    border-top: 1px solid #FFF;
}
